---
layout: post-index
title: "A blog by Micah Rairdon about web development, PowerShell, and other things"
description: "I do a lot of web development and PowerShell but my other interests include: DevOps, Personal Productivity, Family and Autism"
tags: [PowerShell, Microsoft, Windows, Sysadmin, Scripting, Batch, Web Development]
comments: false
---

{% for post in paginator.posts %}
<a href="{{ site.url }}{{ post.url }}">
  <div>
    <h2>
      {{ post.title }}
      <span style="display: block;font-size: small; font-weight: normal;">
        {% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
        Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
      </span>
    </h2>
    {% if site.reading_time %}
    {% endif %}
    {{ post.content | strip_html | truncatewords: 50 }}...
  </div>
</a>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}" style="margin-right: 1rem;">Previous</a>
    {% else %}
      <a href="{{ site.url }}/page{{ paginator.previous_page }}" style="margin-right: 1rem;">Previous</a>
    {% endif %}
  {% else %}
    <span style="margin-right: 1rem;">
      Previous
    </span>
  {% endif %}
  {% if paginator.page == 1 %}
    <span style="font-weight: bold;">1</span>
  {% else %}
    <a href="{{ site.url }}">1</a>
  {% endif %}
  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
     <span>・</span>
     <span style="font-weight: bold;">{{ count }}</span>
    {% else %}
    <span>・</span>
    <a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}" style="margin-left: 1rem;">Next</a>
  {% else %}
    <span style="margin-left: 1rem;">Next</span>
  {% endif %}
</div><!-- /.pagination -->
