<div>
    <h3 style="font-size: 2rem;">Read More</h3>
    {% for post in site.related_posts limit:3 %}
      <a href="{{ site.url }}{{ post.url }}">
        <div style="margin-bottom: 0; margin-top: 2rem;">
          <h4 style="margin-bottom: 0;">
            {{ post.title }}
            <span style="display: block;font-size: small; font-weight: normal;">
              {% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
              Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
            </span>
          </h4>
          {% if site.reading_time %}
          {% endif %}
          <span style="font-size: 1.1rem;">{{ post.content | strip_html | truncatewords: 10 }}...</span>
        </div>
      </a>
    {% endfor %}
</div>