<script src="{{ site.url }}/assets/js/vendor/jquery-3.6.0.min.js" defer></script>
<script src="{{ site.url }}/assets/js/scripts.min.js" defer></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/highlight.min.js"></script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js" defer></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script type="text/javascript" src="{{ site.url }}/assets/js/powershell.js" defer></script>
<script>
    hljs.highlightAll();
</script>

{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}

{% if page.comments != false %}{% include disqus_comments.html %}{% endif %}
