---
sitemap: false
---

* {
  color-scheme: light dark;
}

div,
nav,
article {
  margin: 4rem auto;
  max-width: 6in;
  font: 110%/1.5 system-ui;
}

a,
strong,
em {
  word-wrap: break-word;
}

div.highlight {
  margin: 2rem auto;
}

a {
  color: unset;
  text-decoration: none;
  border-bottom: solid #8eca9d;
}

blockquote,
hr {
  border-left: solid #8eca9d;
  margin: 2rem 0;
  padding: 0 1rem;
  font-style: italic;
}

sup {
  font: icon;
}

.site-title {
  border: 0;
}

.site-title > h1,
.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination {
  gap: 0.4rem;
}

.tag {
  font-size: small;
}

figure img, figure video, img {
  max-width: 100%;
}

figure figcaption {
  font-size: 0.7rem;
}

.highlighter-rouge {
  position: relative;
}

pre.highlight {
  padding: 1rem;
}

pre.highlight .copy {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  opacity: 0;
  padding: 6px;
}

pre.highlight:active .copy,
pre.highlight:focus .copy,
pre.highlight:hover .copy {
  opacity: 1;
}

.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}

.icon::before,
.icon::after {
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-copy::before {
  border: 0.1rem solid currentColor;
  border-bottom-color: transparent;
  border-radius: 0.1em;
  border-right-color: transparent;
  height: 0.8em;
  left: 40%;
  top: 40%;
  width: 0.7em;
}

.icon-copy::after {
  border: 0.1rem solid currentColor;
  border-radius: 0.1em;
  height: 0.8em;
  left: 60%;
  top: 60%;
  width: 0.7em;
}

@import url(gh-dark.css)
