---
sitemap: false
---

* {
  color-scheme: light dark;
}

div,
nav,
article {
  margin: 4rem auto;
  max-width: 6in;
  font: 110%/1.5 system-ui;
}

div.highlight {
  margin: 2rem auto;
}

a {
  color: unset;
  text-decoration: none;
  border-bottom: solid #8eca9d;
}

blockquote,
hr {
  border-left: solid #8eca9d;
  margin: 2rem 0;
  padding: 0 1rem;
}

sup {
  font: icon;
}

.site-title {
  border: 0;
}

.site-title > h1,
.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination {
  gap: 0.4rem;
}

.tag {
  font-size: small;
}

figure img, figure video {
  max-width: 100%;
}

figure figcaption {
  font-size: 0.7rem;
}

.highlighter-rouge {
  position: relative;
}

pre.highlight {
  padding: 1rem;
}

pre.highlight .copy {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  opacity: 0;
  padding: 6px;
}

pre.highlight:active .copy,
pre.highlight:focus .copy,
pre.highlight:hover .copy {
  opacity: 1;
}

.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}

.icon::before,
.icon::after {
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-copy::before {
  border: 0.1rem solid currentColor;
  border-bottom-color: transparent;
  border-radius: 0.1em;
  border-right-color: transparent;
  height: 0.8em;
  left: 40%;
  top: 40%;
  width: 0.7em;
}

.icon-copy::after {
  border: 0.1rem solid currentColor;
  border-radius: 0.1em;
  height: 0.8em;
  left: 60%;
  top: 60%;
  width: 0.7em;
}

/* Syntax highlighting */
@media (prefers-color-scheme: dark) {
  .highlight table td {
    padding: 5px;
  }
  .highlight table pre {
    margin: 0;
  }
  .highlight,
  .highlight .w {
    color: #d0d0d0;
    background-color: #151515;
  }
  .highlight .err {
    color: #151515;
    background-color: #ac4142;
  }
  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #505050;
  }
  .highlight .cp {
    color: #f4bf75;
  }
  .highlight .nt {
    color: #f4bf75;
  }
  .highlight .o,
  .highlight .ow {
    color: #d0d0d0;
  }
  .highlight .p,
  .highlight .pi {
    color: #d0d0d0;
  }
  .highlight .gi {
    color: #90a959;
  }
  .highlight .gd {
    color: #ac4142;
  }
  .highlight .gh {
    color: #6a9fb5;
    background-color: #151515;
    font-weight: bold;
  }
  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: #aa759f;
  }
  .highlight .kc {
    color: #d28445;
  }
  .highlight .kt {
    color: #d28445;
  }
  .highlight .kd {
    color: #d28445;
  }
  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #90a959;
  }
  .highlight .sa {
    color: #aa759f;
  }
  .highlight .sr {
    color: #75b5aa;
  }
  .highlight .si {
    color: #8f5536;
  }
  .highlight .se {
    color: #8f5536;
  }
  .highlight .nn {
    color: #f4bf75;
  }
  .highlight .nc {
    color: #f4bf75;
  }
  .highlight .no {
    color: #f4bf75;
  }
  .highlight .na {
    color: #6a9fb5;
  }
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #90a959;
  }
  .highlight .ss {
    color: #90a959;
  }
}

@media (prefers-color-scheme: light) {
  .highlight table td {
    padding: 5px;
  }
  .highlight table pre {
    margin: 0;
  }
  .highlight,
  .highlight .w {
    color: #303030;
  }
  .highlight .err {
    color: #151515;
    background-color: #ac4142;
  }
  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #505050;
  }
  .highlight .cp {
    color: #f4bf75;
  }
  .highlight .nt {
    color: #f4bf75;
  }
  .highlight .o,
  .highlight .ow {
    color: #d0d0d0;
  }
  .highlight .p,
  .highlight .pi {
    color: #d0d0d0;
  }
  .highlight .gi {
    color: #90a959;
  }
  .highlight .gd {
    color: #ac4142;
  }
  .highlight .gh {
    color: #6a9fb5;
    background-color: #151515;
    font-weight: bold;
  }
  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: #aa759f;
  }
  .highlight .kc {
    color: #d28445;
  }
  .highlight .kt {
    color: #d28445;
  }
  .highlight .kd {
    color: #d28445;
  }
  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #90a959;
  }
  .highlight .sa {
    color: #aa759f;
  }
  .highlight .sr {
    color: #75b5aa;
  }
  .highlight .si {
    color: #8f5536;
  }
  .highlight .se {
    color: #8f5536;
  }
  .highlight .nn {
    color: #f4bf75;
  }
  .highlight .nc {
    color: #f4bf75;
  }
  .highlight .no {
    color: #f4bf75;
  }
  .highlight .na {
    color: #6a9fb5;
  }
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #90a959;
  }
  .highlight .ss {
    color: #90a959;
  }
}

pre {
  overflow: auto;
}
