<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>

  <body id="post">
    {% include browser-upgrade.html %} {% include header.html %}

    <div id="main" role="main">
      <h1>{{ page.title }}</h1>
      <article class="hentry">
        <div class="entry-content">
          {{ content }}
          <footer class="entry-meta">
            <div style="margin: 1rem auto">
              <span style="font-size: large">Tags:</span>
              {% for tag in page.tags %} {% unless forloop.first %}・{% endunless %}
              <a href="{{ site.url }}/tags#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a>
              {% endfor %}
            </div>
            {% if page.modified %}
            <span style="font-size: small"> Published on <time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time> </span>
            {% endif %}
          </footer>
        </div>
        <script
          src="https://giscus.app/client.js"
          data-repo="Tiberriver256/Tiberriver256.GitHub.io"
          data-repo-id="MDEwOlJlcG9zaXRvcnk0NjYyNTc5OA=="
          data-category="General"
          data-category-id="DIC_kwDOAsd0Bs4CSjl-"
          data-mapping="title"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async
        ></script>
        {% if site.related_posts.size > 0 %}{% include read-more.html %}{% endif %}
      </article>
    </div>
    <!-- /#main -->

    {% include scripts.html %}

    <div class="footer-wrapper">
      <footer role="contentinfo">{% include footer.html %}</footer>
    </div>
    <!-- /.footer-wrapper -->
  </body>
</html>
